@media only screen and (max-width: 768px) {
  .visit-list-main {
    /* border-right: 2px solid black; */
    width: 165px;
  }
  .visit-info {
    display: block;
    width: 98%;
  }
  .id-visit {
    font-size: 12px;
  }
  .visiter-discription {
    font-size: 14px;
  }
  .person-avatar {
    width: 80%;
    height: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .visit-list-main {
    border-right: 2px solid black;
    width: 300px;
  }
  .visit-info {
    display: flex;
    justify-content: space-around;
  }
  .id-visit {
    font-size: 16px;
  }
  .visiter-discription {
    font-size: 24px;
  }
  .person-avatar {
    width: 100%;
    height: 100%;
  }
}
