@media only screen and (max-width: 768px) {
  .stats {
    display: block;
  }
  .wrong-masks {
    font-size: 14px;
  }
  .response-container-moods {
    width: 95%;
  }
}
@media only screen and (min-width: 1324px) {
  .stats {
    display: flex;
    justify-content: "space-around";
  }
  .wrong-masks {
    font-size: 18px;
  }
  .response-container-moods {
    width: 55%;
  }
}

@media only screen and (min-width: 768px) {
  .moods-chart {
    display: flex;
    justify-content: space-around;
  }
}
