.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
    padding: 5px 10px;
  }
  h3 {
    margin: 0px 0px 10px 0px;
  }
  .date-description {
    display: block;
  }
  .date-description-selector {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 1324px) {
  .stats {
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 768px) {
  .date-description {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: "center"; */
    /* margin: "0 auto"; */
    /* width: "750px"; */
  }
  .date-description-title {
    margin-right: 20px;
  }
}
